<html>
<head> <title>Add document</title>
</head>
<body>
<h1>Ajouter un nouveau document!</h1>
<form action="/document/addaction" method="post">
<div>
<label> Titre</label> <br>
<input type="text" name="titre" />
</div>
<div>
<label>Description</label><br>
<textarea name="description" rows="5" cols="33"></textarea>
</div>
<div>
<label>Format</label><br>
<input type="text" name="format" />
</div>
<input type="Submit" value="Ajouter"/>
</form>
</body>
</html>