<html>
<head>
<title>Liste des Documents</title>
</head>
<center>
<body>
<h1>Liste des contacts</h1>
<table border="1"> 
<thead>
<th>Titre</th>
<th>Description</th>
<th>FORMAT</th>
<th>Actions</th>
</thead>
<tbody>
</tbody>
</table>
</body>
</center>
</html>